<div *ngIf="!searchParam" class="search-page">
  <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
  <h2 *ngIf="!loading">Genres</h2>
  <div class="search-container">
    <mat-card *ngFor="let genre of genres; let i=index" class="card" [routerLink]="['/music/genre', genre.id]" [style.background]="randomColor(i)">
      <mat-card-content>{{genre.name}}</mat-card-content>
      <img class="card-img" src="{{genre.picture_medium ? genre.picture_medium : defaultImg}}"  alt={{genre.name}}>
    </mat-card>
  </div>
  <h2 *ngIf="!loading">Playlists</h2>
  <div class="search-container">
    <mat-card *ngFor="let playList of playlists; let i=index" class="card" [style.background]="randomColor(i)"
    [routerLink]="['/music/play-list', playList.id]">
      <mat-card-content>{{playList.title}}</mat-card-content>
      <img class="card-img" src="{{playList.picture_medium ? playList.picture_medium : defaultImg}}" alt={{playList.title}}>
    </mat-card>
  </div>


  
</div>

<div *ngIf="searchParam" class="search-page">
  <div class="chips-container">
    <mat-chip-listbox aria-label="Search selection">
      <mat-chip-option (click)="renderTracks()" selected>Tracks</mat-chip-option>
      <mat-chip-option (click)="renderArtists()">Artists</mat-chip-option>
      <mat-chip-option (click)="renderAlbums()">Albums</mat-chip-option>
      <mat-chip-option (click)="renderPlaylists()">Playlists</mat-chip-option>
    </mat-chip-listbox>
  </div>

  <div [ngSwitch]="searchType">

    <div *ngSwitchCase="'tracks'">
      <!-- <div *ngIf="tracks$ | async as tracks" class="tracks-container"> -->
        <div *ngFor="let track of tracks let i=index" class="track" >
          <p>{{ i+1 }}</p>
          <div><img src="{{track.album?.cover_small ? track.album?.cover_small : defaultImg}}" alt={{track.title}}></div>
          <div class="track-description">
            <p>{{track.title}}</p>
            <p>Album: {{track.album?.title}}</p>
          </div>
        </div>
      <!-- </div> -->
      
    </div>

    <div *ngSwitchCase="'artists'">
      <!-- <div *ngIf="artists$ | async as artists"> -->
        <!-- <p *ngIf="loading">Loading...</p> -->
        <!-- <h2 *ngIf="!loading">Artists</h2> -->
        <div class="result-container">
          <mat-card *ngFor="let artist of artists" class="artist-card" [routerLink]="['/music/artist', artist.id]" >
            <div class="image-wrapper">
              <img src="{{artist.picture_medium ? artist.picture_medium : defaultImg}}" alt={{artist.name}}>         
            </div>
            <mat-card-content>{{artist.name}}</mat-card-content>
            <mat-card-content>Artist</mat-card-content>
          </mat-card>
        </div>
      <!-- </div> -->
    </div>

    <div *ngSwitchCase="'albums'">
      <!-- <div *ngIf="albums$ | async as albums"> -->
        <!-- <p *ngIf="loading">Loading...</p> -->
        <!-- <h2 *ngIf="!loading">albums</h2> -->
        <div class="result-container">
          <mat-card *ngFor="let album of albums" class="album-card" [routerLink]="['/music/album', album.id]">
            <div class="image-wrapper"><img src="{{album.cover_medium ? album.cover_medium : defaultImg}}" alt={{album.title}}></div>
            <mat-card-content>{{album.title}}</mat-card-content>
            <mat-card-content>{{album.artist?.name}}</mat-card-content>
          </mat-card>
        </div>
      <!-- </div> -->
    </div>

    <div *ngSwitchCase="'playlists'">
      <!-- <div *ngIf="playlists$ | async as playlists"> -->
        <!-- <p *ngIf="loading">loading...</p> -->
        <!-- <h2 *ngIf="!loading">playlists</h2> -->
        <div class="result-container">
          <!-- <mat-card *ngFor="let playlist of playlists.data" class="card" [routerlink]="['/music/playlist', playlist.id]">
          <div class="image-wrapper"><img src={{playlist.picture_medium}} alt={{playlist.title}}></div>
          <mat-card-content>{{playlist.title}}</mat-card-content>
          <mat-card-content>{{playlist.description}}</mat-card-content>
        </mat-card> -->
          <mat-card *ngFor="let playlist of playlists" class="card"
            [routerLink]="['/music/play-list', playlist.id]">
            <mat-card-content>{{playlist.title}}</mat-card-content>
            <img class="card-img" src="{{playlist.picture_medium ? playlist.picture_medium : defaultImg}}" alt={{playlist.title}}>

          </mat-card>
        </div>
      <!-- </div> -->
      

    </div>
    <button (click)="getMore(searchType)">more</button>
  </div>
</div>

