@import '../../../sass/abstracts/constants';

.player-container {
  height: $player-height;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  .buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $container-p-small;
  }
 }
