@import '../../../sass/abstracts/constants';

.player-container {
  height: $player-height;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: $z-index-top;
 }

 .player-container_handset {
  height: $player-height-small;
 }

 .player-container_extra-small {
  justify-content: center;
 }

 .tmp {
  margin-bottom: 50px;
 }

 .track-data {
  display: flex;
  flex-direction: row;
  gap: $container-p-small;
 }

 .track-data__titles {
  display: flex;
  flex-direction: column;
  gap: $container-p-small;
  align-items: flex-start;
  justify-content: center;
}

.track-data__image {
  height: calc($player-height - 2 * $container-p-small);
  width: calc($player-height - 2 * $container-p-small);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: calc($player-height - 2 * $container-p-small);
    width: calc($player-height - 2 * $container-p-small);
    object-fit: cover;
  }

  svg {
    width: 30%;
    height: 30%;
  }
}

.track-data__image_small {
  height: calc($player-height-small - 2 * $container-p-small);
  width: calc($player-height-small - 2 * $container-p-small);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: calc($player-height-small - 2 * $container-p-small);
    width: calc($player-height-small - 2 * $container-p-small);
    object-fit: cover;
  }

  svg {
    width: 30%;
    height: 30%;
  }
}

.player-spinner-container {
  height: 30px !important;
  width: 30px !important;
}

.volume-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: $container-p-small;
}

.player-slider {
  width: 100%;
}

.player-slider_small {
  position: absolute;
  width: auto;
  top: calc(($container-p-small + 6px) * (-1));
  left: -8px;
  right: -8px;

  input {
    width: 100% !important;
  }
}

.player-controls {
  align-items: center;
  justify-content: center;
  gap: $container-p-large;
}

.player-controls_small {
  gap: $container-p-small;
}

.player-controls_handset {
  justify-content: flex-end;
}

.player-buttons-group {
  gap: calc($container-p-small / 2);
}

.time-progress-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  gap: $container-p-small;
}

.time-progress-container_small {
  margin-top: $container-p-small;
  justify-content: center;
}

.audio-controls-container {
  align-items: center;
  justify-content: flex-end;
  gap: $container-p-small;
}

.equalizer {
  position: fixed;
  top: $header-height;
  left: calc(100vw * 2 / 12);
  right: 0;
  height: calc(100vh - $header-height - $player-height - $footer-height);
  z-index: $z-index-dynamic-window;
  overflow-x: hidden;
}

.volume-container_small {
  .volume-slider {
    position: absolute;
    top: 0;
    scale: 0;
    transition: 0.2s;
  }
  &:hover {
    .volume-slider {
      scale: 1;
    }
  }
}

