@import '../../../sass/abstracts/constants';

.player-container {
  height: $player-height;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: $z-index-top;
 }

 .tmp {
  margin-bottom: 50px;
 }

 .track-data {
  display: flex;
  flex-direction: row;
  gap: $container-p-small;
 }

 .track-data__titles {
  display: flex;
  flex-direction: column;
  gap: $container-p-small;
  align-items: flex-start;
  justify-content: center;
}

.track-data__image {
  height: calc($player-height - 2 * $container-p-small);
  width: calc($player-height - 2 * $container-p-small);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: calc($player-height - 2 * $container-p-small);
    width: calc($player-height - 2 * $container-p-small);
    object-fit: cover;
  }

  svg {
    width: 30%;
    height: 30%;
  }
}

.player-spinner-container {
  height: 30px !important;
  width: 30px !important;
}

.volume-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: $container-p-small;
}

.player-slider {
  width: 100%;
}

.player-controls {
  align-items: center;
  justify-content: center;
  gap: $container-p-large;
}

.player-buttons-group {
  gap: calc($container-p-small / 2);
}

.time-progress-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  gap: $container-p-small;
}

.audio-controls-container {
  align-items: center;
  justify-content: flex-end;
  gap: $container-p-small;
}
