<div class="flex-row tmp">
  <mat-card *ngFor="let track of tracks, index as i" class="card">
    <mat-card-content>{{track.title}}</mat-card-content>
    <mat-card-content>{{track.artist?.name}}</mat-card-content>
    <mat-card-content>{{track.album?.title}}</mat-card-content>
    <img mat-card-image class="card-img" src={{track.album?.cover}} alt={{track.title}} (click)="playTrack(track.preview); setTrackIndex(i)">
  </mat-card>
</div>
<div class="player-container player container flex-row">
  <div class="player__items-group flex-column-3">
  </div>
  <div class="player__items-group flex-column-6">
    <div class="buttons-container">
      <button mat-mini-fab color="basic" (click)="likeTrack()">
        <mat-icon [color]="isLiked ? 'warn' : 'basic'">favorite</mat-icon>
        <!-- <mat-icon [color]="(getValue() | async) ? 'warn' : 'basic'">favorite</mat-icon> -->
      </button>
      <button mat-fab color="basic" (click)="prev()" [disabled]="isFirstTrack">
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button mat-fab color="primary" (click)="playPause()">
        <mat-icon>{{ !isPlay ? 'play_arrow' : 'pause' }}</mat-icon>
      </button>
      <button mat-fab color="basic" (click)="next()" [disabled]="isLastTrack">
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
    <span>{{ currentTime}} / {{ durationTime }}</span>
    <mat-slider min="0" [max]="maxTimeValue" step="0.01" (input)="setProgress($event)" (click)="setProgress($event)">
      <input matSliderThumb [value]="currentProgress">
    </mat-slider>
  </div>
  <div class="player__items-group flex-column-3">
    <button mat-mini-fab color="basic" (click)="toggleMute()">
      <mat-icon>{{ !isMute ? 'volume_up' : 'volume_off' }}</mat-icon>
    </button>
    <button mat-mini-fab [color]="isRepeatAllOn ? 'primary' : 'basic'" (click)="toggleRepeat()">
      <mat-icon>repeat</mat-icon>
    </button>
    <button mat-mini-fab [color]="isRepeatOneOn ? 'primary' : 'basic'" (click)="toggleRepeatOne()">
      <mat-icon>repeat_one</mat-icon>
    </button>
    <mat-slider min="0" max="1" step="0.01">
      <input matSliderThumb [value]="currentVolume" (input)="setVolume($event)" (click)="setVolume($event)">
    </mat-slider>
  </div>
</div>
