<div class="player-container player container flex-row accent-section"
  [ngClass]="{'player-container_small': isSmall, 'player-container_extra-small': isExtraSmall}">
  <div class="player__items-group flex-column-3" *ngIf="!isExtraSmall">
    <div class="track-data">
      <div *ngIf="getCurrentTrackIndex() !== null" class="track-data__image" [ngClass]="{'track-data__image_small': isSmall}">
        <img
          [src]="getTrackAlbumImageSrc()"
          [alt]="getTrackTitle() | titlecase"
        />
      </div>
      <div *ngIf="getCurrentTrackIndex() === null" class="track-data__image" [ngClass]="{'track-data__image_small': isSmall}">
        <svg class="icon">
          <use xlink:href="../../../assets/icons/sprite.svg#musical-note"></use>
        </svg>
      </div>
      <div *ngIf="!isSmall" class="track-data__titles">
        <span class="one-line-text">{{ getTrackTitle() | titlecase }}</span>
        <span class="one-line-text less-opacity router-link" [routerLink]="['/music/artist', getArtistId()]">{{
          getArtistTitle() | titlecase
        }}</span>
      </div>
    </div>
  </div>
  <div class="player__items-group flex-1" ngClass="isHandset ? 'flex-column-9' : flex-column-6" [ngClass]="{'': isExtraSmall}">
    <div class="flex-row player-controls" [ngClass]="{'player-controls_small': isSmall, 'player-controls_handset': isHandset, 'player-controls_extra-small': isExtraSmall}">
      <div class="flex-row player-buttons-group">
        <button mat-mini-fab color="basic" (click)="likeTrack()">
          <mat-icon [color]="controlsState.isLiked ? 'warn' : 'basic'"
            >favorite</mat-icon
          >
        </button>
        <button
          *ngIf="!isSmall"
          mat-mini-fab
          color="basic"
          (click)="shuffleTracks()"
        >
          <mat-icon>shuffle</mat-icon>
        </button>
      </div>
      <div class="flex-row player-buttons-group">
        <button
          *ngIf="!isSmall"
          mat-fab
          color="basic"
          (click)="prev()"
          [disabled]="controlsState.isFirstTrack"
        >
          <mat-icon>skip_previous</mat-icon>
        </button>
        <button
          *ngIf="isSmall"
          mat-mini-fab
          color="basic"
          (click)="prev()"
          [disabled]="controlsState.isFirstTrack"
        >
          <mat-icon>skip_previous</mat-icon>
        </button>
        <button *ngIf="!isSmall" mat-fab color="primary" (click)="playPause()">
          <mat-spinner
            mode="indeterminate"
            class="player-spinner-container"
            color="accent"
            *ngIf="
              !isTrackReady &&
              getCurrentTrackIndex() !== null &&
              !isInitialTrackSet
            "
          ></mat-spinner>
          <mat-icon
            *ngIf="
              isTrackReady ||
              getCurrentTrackIndex() === null ||
              isInitialTrackSet
            "
            >{{ !isPlay ? "play_arrow" : "pause" }}</mat-icon
          >
        </button>
        <button
          *ngIf="isSmall"
          mat-mini-fab
          color="primary"
          (click)="playPause()"
        >
          <mat-spinner
            mode="indeterminate"
            class="player-spinner-container"
            color="accent"
            *ngIf="
              !isTrackReady &&
              getCurrentTrackIndex() !== null &&
              !isInitialTrackSet
            "
          ></mat-spinner>
          <mat-icon
            *ngIf="
              isTrackReady ||
              getCurrentTrackIndex() === null ||
              isInitialTrackSet
            "
            >{{ !isPlay ? "play_arrow" : "pause" }}</mat-icon
          >
        </button>
        <button
          *ngIf="!isSmall"
          mat-fab
          color="basic"
          (click)="next()"
          [disabled]="controlsState.isLastTrack"
        >
          <mat-icon>skip_next</mat-icon>
        </button>
        <button
          *ngIf="isSmall"
          mat-mini-fab
          color="basic"
          (click)="next()"
          [disabled]="controlsState.isLastTrack"
        >
          <mat-icon>skip_next</mat-icon>
        </button>
      </div>
      <div class="flex-row player-buttons-group">
        <button
          *ngIf="!isSmall"
          mat-mini-fab
          [color]="controlsState.isRepeatAllOn ? 'primary' : 'basic'"
          (click)="toggleRepeatAll()"
        >
          <mat-icon>repeat</mat-icon>
        </button>
        <button
          *ngIf="!isSmall"
          mat-mini-fab
          [color]="controlsState.isRepeatOneOn ? 'primary' : 'basic'"
          (click)="toggleRepeatOne()"
        >
          <mat-icon>repeat_one</mat-icon>
        </button>
        <button *ngIf="isSmall" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <!-- MENU START -->
        <mat-menu #menu="matMenu">
          <button mat-menu-item color="basic" (click)="shuffleTracks()">
            <mat-icon>shuffle</mat-icon>
            <span l10nTranslate>music.player.menu.shuffle</span>
          </button>
          <button mat-menu-item (click)="toggleRepeatAll()">
            <mat-icon
              [ngClass]="
                controlsState.isRepeatAllOn ? getColorClassName() : ''
              ">repeat</mat-icon>
            <span l10nTranslate>music.player.menu.repeat-all</span>
          </button>
          <button mat-menu-item (click)="toggleRepeatOne()">
            <mat-icon
              [ngClass]="
                controlsState.isRepeatOneOn ? getColorClassName() : ''
              "
              >repeat_one</mat-icon
            >
            <span l10nTranslate>music.player.menu.repeat-one</span>
          </button>
          <button mat-menu-item
          (click)="toggleEqualizerVisibility()"
          [disabled]="!isTrackReady"
        >
          <mat-icon
          [ngClass]="
            isEqualizerShown ? getColorClassName() : ''
          "
          >equalizer</mat-icon>
          <span l10nTranslate>music.player.menu.equalizer</span>
        </button>
        <button mat-menu-item>
          <mat-icon (click)="toggleMute()">{{ !isMute ? "volume_up" : "volume_off" }}</mat-icon>
          <mat-slider min="0" max="1" step="0.01">
            <input
              matSliderThumb
              [value]="currentState.volume"
              (input)="setVolume($event)"
              (click)="setVolume($event)"
            />
          </mat-slider>
        </button>
        </mat-menu>
        <!-- MENU END -->
      </div>
    </div>
    <div class="time-progress-container">
      <span *ngIf="!isSmall">{{ currentState.time }}</span>
      <span *ngIf="!isSmall && isHandset">/</span>
      <mat-slider
        min="0"
        [max]="currentState.duration"
        step="0.01"
        (input)="setProgress($event)"
        (click)="setProgress($event)"
        class="player-slider"
        [ngClass]="{ 'player-slider_small': isSmall }"
      >
        <input matSliderThumb [value]="currentState.progress" />
      </mat-slider>
      <span *ngIf="!isSmall">{{ currentState.durationTime }}</span>
    </div>
  </div>
  <div *ngIf="!isHandset" class="player__items-group flex-column-3">
    <div class="flex-row audio-controls-container">
      <span *ngIf="isSmall">{{ currentState.time }}</span>
      <span *ngIf="isSmall">/</span>
      <span *ngIf="isSmall">{{ currentState.durationTime }}</span>
      <button *ngIf="!isSmall" mat-mini-fab [color]="isEqualizerShown ? 'primary' : 'basic'" (click)="toggleEqualizerVisibility()" [disabled]="!isTrackReady">
        <mat-icon>equalizer</mat-icon>
      </button>
      <button *ngIf="!isSmall" mat-mini-fab color="basic" (click)="toggleCurrentTrackListVisibility()" [disabled]="!trackList.length">
        <mat-icon>{{ isCurrentTrackListShown ? 'arrow_drop_down' : 'arrow_drop_up' }}</mat-icon>
      </button>
      <div class="volume-container" [ngClass]="{ 'volume-container_small': isSmall }">
        <button *ngIf="!isSmall" mat-mini-fab color="basic" (click)="toggleMute()">
          <mat-icon>{{ !isMute ? "volume_up" : "volume_off" }}</mat-icon>
        </button>
        <mat-slider min="0" max="1" step="0.01" class="volume-slider">
          <input
            matSliderThumb
            [value]="currentState.volume"
            (input)="setVolume($event)"
            (click)="setVolume($event)"
          />
        </mat-slider>
      </div>
    </div>
  </div>
</div>
<app-equalizer
  [isSmall]="isSmall" [isHandset]="isHandset" [isExtraSmall]="isExtraSmall"
  *ngIf="isEqualizerShown"
  @showEqualizer
  class="equalizer"
  [ngClass]="{'equalizer_small': isSmall, 'equalizer_handset': isHandset}"
></app-equalizer>
<app-current-track-list
  [isSmall]="isSmall" [isHandset]="isHandset" [isExtraSmall]="isExtraSmall" [isShown]="isCurrentTrackListShown"
  *ngIf="isCurrentTrackListShown"
  @showEqualizer
  class="equalizer"
  [ngClass]="{'equalizer_small': isSmall, 'equalizer_handset': isHandset}"
  >
</app-current-track-list>
