/* You can add global styles to this file, and also import other style files */

@import './sass/variables/constants';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100vh;
  background-color: $bg-color-dark-theme;
  color: $color-dark-theme;
  display: flex;
  flex-direction: column;
}

.container {
  padding: $container-p-small $container-p-large;
}

.content {
  flex: 1;
}

.icon {
  width: 25px;
  height: 25px;
  margin: .5em;
}

.flex-row {
  display: flex;
  .flex-column-3 {
    display: flex;
    flex-direction: column;
    width: calc(100% / 12 * 3);
  }
  .flex-column-6 {
    display: flex;
    flex-direction: column;
    width: calc(100% / 12 * 6);
  }
  .flex-column-9 {
    display: flex;
    flex-direction: column;
    width: calc(100% / 12 * 9);
  }
}

.height-100 {
  height: 100%;
}
