/* You can add global styles to this file, and also import other style files */

@import './sass/abstracts/constants';
@import './sass/abstracts/mixins';
@import './sass/abstracts/material-theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  padding: $container-p-small $container-p-large;
}

.flex-1 {
  flex: 1;
}

.icon {
  width: $icon-size;
  height: $icon-size;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .flex-column-3 {
    @include flex-column(3);
  }
  .flex-column-6 {
    @include flex-column(6);
  }
  .flex-column-9 {
    @include flex-column(9);
  }
}

.content-wrapper {
  padding-top: $header-height;
}

.accent-wrapper {
  // background: $bg-light-color-dark-theme;
  overflow-y: scroll;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

label {
  text-transform: capitalize !important;
}

.height-100 {
  height: 100%;
}

.app-content {
  height: calc(100% - $footer-height - $header-progress-bar-height);
  app-settings-page {
    display: block;
    height: 100%;
  }
}

.deeppurple-amber-dark,
.indigo-pink-dark,
.pink-bluegrey-dark,
.purple-green-dark {
  .accent-wrapper {
    background: $bg-light-color-dark-theme;
  }
  .icon {
    fill: #fff;
  }
}

.deeppurple-amber,
.indigo-pink,
.pink-bluegrey,
.purple-green {
  .accent-wrapper {
    background: $bg-light-color-light-theme;
  }
  .icon {
    fill: rgba(0, 0, 0, 0.87);
  }
}

.mb-small {
  margin-bottom: $container-p-small;
}
