@import '../../../../sass/abstracts/constants';
@import '../../../../sass/abstracts/mixins';

.radio-card {
  position: relative;
  width: 100%;
  font-size: 1rem;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  cursor: pointer;

  &:hover {
    .radio-img {
      transform: scale(1.1);
    }
  }
}

.radio-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.radio-img {
  width: 100%;
  transition: 0.4s;
}

.radio-title {
  z-index: $z-index-radio-title;
  @include adaptive-font(22, 16);
  line-height: 120%;
  hyphens: auto;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
