<mat-card *ngFor="let track of tracks; index as i">
  <mat-card-content [attr.class]="(isTrackPlaying(i) && ((isPlay$ | async) || (isPause$ | async)) && !isEnd)
    ? theme + '-border' + ' theme-primary'+ ' track' : 'track'">
    <div class="track-number-wrapper">
      <p class="track-number" *ngIf="!isTrackPlaying(i) ||
        (isTrackPlaying(i) && (isPlay$ | async)===false && isEnd)">{{ i+1 }}</p>
      <mat-icon aria-hidden="false" class="track-play"
        *ngIf="!isTrackPlaying(i) || (!isTrackPlaying(i) && (isPlay$ | async) === false) || (isTrackPlaying(i) && (isPlay$ | async) === false && isEnd)"
        (click)="setTracksInfo(i)">play_arrow</mat-icon>
      <mat-icon aria-hidden="false" class="track-pause" *ngIf="isTrackPlaying(i) && !isEnd"
        (click)="playPause()">{{(isPlay$ | async)? 'pause_arrow' : 'play_arrow'}}</mat-icon>
    </div>
    <div class="track-img-wrapper">
      <img class="track-img" src="{{track.album?.cover_small ? track.album?.cover_small : defaultImg}}"
        alt={{track.title}}>
    </div>
    <div class="track-description">
      <p class="track-title">{{track.title}}</p>
      <p class="track-artist">{{track.artist?.name}}</p>
    </div>
    <div class="track-album">{{track.album?.title}}</div>
    <div>00:30</div>
  </mat-card-content>
</mat-card>
