<!-- <div *ngIf="artist">
  <div class="artist-wrapper">
    <div class="artist-container">
      <div class="artist-image"><img src={{artist.picture_medium}} alt={{artist.name}}></div>
      <div *ngIf="artist.type === 'artist'" class="artist-description">
        <p class="artist-type">{{artist.type}}</p>
        <h2 class="artist-title">{{artist.name}}</h2><div class="artist-container-btns">
      <button mat-fab color="primary" (click)="playPause(0)">
        <mat-icon>{{ !isPlay ? 'play_arrow' : 'pause' }}</mat-icon>
      </button>
      <button mat-fab color="basic">
        <mat-icon>favorite</mat-icon>
      </button>
      </div>
      
    </div>
  </div>
    </div>
</div>

<app-tracks *ngIf="!loading" [tracks]="tracks" class="tracks-container"></app-tracks> -->
