@import '../../../../sass/abstracts/constants';

@mixin size($width, $height: null) {
  width: $width;
  height: if($height==null, $width, $height);
}

div.theme-primary {
  position: relative;
  @include size(35px);
}

div.theme-accent {
  @include size(15px);
  position: absolute;
  bottom: 0;
  left: 0;
}

div.theme-warn {
  @include size(10px);
  position: absolute;
  bottom: 7%;
  left: 30%;
  transform: rotate(45deg);
}

.theme-preview-container {
  display: flex;
  align-items: center;
  gap: $container-p-small;
}
