<div class="mb-small">
  <mat-slide-toggle
  class="mb-small"
  [checked]="isDarkTheme()"
  (click)="$event.stopPropagation()"
  (change)="toggleDarkness()" l10nTranslate>settings.dark-mode
</mat-slide-toggle>
<mat-divider class="mb-small"></mat-divider>
</div>
<mat-radio-group aria-label="select-theme" class="flex-column">
  <mat-radio-button
    class="mb-small"
    *ngFor="let theme of themes"
    (click)="$event.stopPropagation(); setActiveTheme(theme)"
    [value]="theme"
    [checked]="isThemeChecked(theme)"
    >
    <div [attr.class]="theme + ' theme-primary center'">
      <div [attr.class]="theme + ' theme-accent'"></div>
      <div [attr.class]="theme + ' theme-warn'"></div>
    </div>
  </mat-radio-button>
</mat-radio-group>
