@import '../../../sass/abstracts/constants';

.result-container {
  grid-gap: $container-p-small;
  display: grid;
  grid-template-columns: repeat($count-cart-in-row, minmax(0, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: auto;
  margin-bottom: $container-p-small;
}

.spinner {
  margin: 0 auto;
  max-width: 2rem;
  flex: 1 1 0;
}

.titles-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.genre-main-title {
  font-size: 5rem;
  font-weight: 900;
  line-height: normal;
}

.genre-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
}
