.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.example-form {
  min-width: 150px;
  max-width: 700px;
  width: 100%;
}
.example-form mat-form-field {
  padding-bottom: 15px;
}

.example-full-width {
  width: 100%;
}
.sign-up__h3 {
  margin-top: 10px;
  font-size: 20px;
}
.container-center {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.sign-up__h1 {
  width: 850px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
  @media screen and (max-width: 800px){
    width: 400px;
  }
  @media screen and (max-width: 399px){
    width: auto;
  }
}
.sign-up__hr {
  margin-top: 50px;
}
.sign-up__form-btn {
  width: 100px;
  height: 40px !important;
  border-radius: 100px;
}
.sign-up__also-btn {
  display: inline-block;
  border-radius: 100px;
}
.sign-up__also {
  display: flex;
  gap: 15px;
  align-items: center;
}