.player-slider_small {
  .mdc-slider__track--inactive,
  .mdc-slider__track--active {
    border-radius: 0 !important;
  }

  .mdc-slider__track--active {
    height: 4px !important;
  }

  .mdc-slider__thumb-knob,
  .mat-mdc-focus-indicator {
    scale: 0;
  }
  &:hover {
    .mdc-slider__thumb-knob,
    .mat-mdc-focus-indicator {
      scale: 1;
    }
  }
}
