@import '../../../../sass/abstracts/constants';
@import '../../../../sass/abstracts/mixins';

.search-page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}


.spinner {
  margin: 0 auto;
  max-width: 2rem;
  flex: 1 1 0;
}

.chips-container {
  width: 100%;
  margin-bottom: $container-p-large;
}

.more-btn {
  margin: $container-p-large 0;
  float: right;
}

// .scrollable {
//   overflow-y: auto;
//   padding-right: 0.5rem;
//   &::-webkit-scrollbar {
//     width: 0.5rem; 
//   }
  
//   &::-webkit-scrollbar-track {
//     background: transparent;
//   }
  
//   &::-webkit-scrollbar-thumb {
//     background-color: $hover-color-card;
//     border-radius: 3px;
//   }
// }
