@import '../../../sass/abstracts/constants';

.result-container {
  display: flex;
  gap: $container-p-large;
  margin-bottom: $container-p-small;
}

.result-image {
  max-width: 20%;

  & img {
    width: 100%;
    display: block;
  }
}

.result-description {
  display: flex;
  flex-direction: column;
  gap: $container-p-small;
  justify-content: space-between;
}

.result-type {
  text-transform: uppercase;
}

.result-title {
  flex: 1 1 0;
  font-size: 4vmax;
  text-transform: capitalize;
}

.tracks-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.scrollable {
  overflow-y: auto;
  padding-right: 0.5rem;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $hover-color-card;
    border-radius: 3px;
  }
}
