<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
<header class="flex-row">
  <div class="flex-column-3 container">
    <div class="logo-container">
      <a routerLink="/music/home" routerLinkActive="active" ariaCurrentWhenActive="page">
        <h1>RS Music App</h1>
      </a>
    </div>
  </div>
  <div class="flex-column-9 container">
    <div class="settings-container">
      <a routerLink="/settings" routerLinkActive="active" ariaCurrentWhenActive="page">Settings</a>
    </div>
  </div>
</header>
