@import '../../../sass/abstracts/constants';

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  z-index: 10;

  h1 {
    margin: 0;
  }

  .search-btn {
    cursor: pointer;
  }

}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw * 2 / 12);
  margin-left: -$container-p-large;
}

.logo-icon {
  width: $header-height * 0.7;
  height: $header-height * 0.7;;
}
