@import '../../../sass/abstracts/constants';

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  z-index: $z-index-header;

  .search-btn {
    cursor: pointer;
  }

  .flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header_handset {
  padding-top: 10px;
  height: $header-height-handset;
}

.logo-icon {
  width: 130px;
  height: $header-height;
}

.logo-icon_handset {
  width: 80px;
  height: $header-height-handset;
}

.search-btn {
  cursor: pointer;
}

.user-icon_handset {
  margin-right: 24px;
}

.header-loader-bar {
  z-index: $z-index-top;
}
