<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
<header class="header container">
  <div>
    <a routerLink="/music/home" ariaCurrentWhenActive="page">
      <h1>RS Music App</h1>
    </a>
  </div>
  <div>
    <a routerLink="/settings" ariaCurrentWhenActive="page">
      <button mat-fab extended="" color="basic">
        <mat-icon>
          <svg class="icon">
            <use xlink:href="../../../assets/icons/user-icons-sprite.svg#icons8-jake"></use>
          </svg>
        </mat-icon>
        Jake
      </button>
    </a>
  </div>
</header>
