@import '../../../sass/abstracts/constants';

.rotate {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation: spin 4s linear infinite;
  }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

.not-found-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 20vmin;
    margin-bottom: 10vmin;
  }

  h2 {
    font-size: 3vmin;
    margin-bottom: 1.5vmin;
  }

  .flex-row {
    gap: $container-p-small;
  }
}

.icon-container {
  width: 20%;
}
