@import '../../../sass/abstracts/_constants.scss';

.music-page-container {
  max-height: calc(100% - $player-height);
  height: 100%;
}

.music-page-container_small {
  max-height: calc(100% - $player-height-small);
}

.aside-container_handset {
  position: absolute;
  padding-top: 50px;
  top: $header-progress-bar-height;
  left: 0;
  right: 0;
  bottom: calc($player-height-small + $footer-height);
  z-index: $z-index-dynamic-window;
}

.navigation-menu-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $z-index-top;
}
