<footer class="container">
  <nav>
    <ul>
      <li>
        <a href="https://github.com/oxxol">
          <svg class="icon">
            <use xlink:href="../../../assets/icons/sprite.svg#github-mark-white"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://github.com/Sylphur">
          <svg class="icon">
            <use xlink:href="../../../assets/icons/sprite.svg#github-mark-white"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://github.com/DashaErmolich">
          <svg class="icon">
            <use xlink:href="../../../assets/icons/sprite.svg#github-mark-white"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  <p>2023©</p>
  <p>
    <a href="https://rs.school/js/">
      <svg class="icon">
        <use xlink:href="../../../assets/icons/sprite.svg#rss-logo"></use>
      </svg>
    </a>
  </p>
</footer>
