@import '../../../sass/abstracts/constants';

.search-result-container {
  display: flex;
  gap: $container-p-large;
  margin-bottom: $container-p-small;
}

.search-result-image {
  width: 20%;

  & img {
    width: 100%;
    display: block;
  }
}

.search-result-block {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: $container-p-small;
  justify-content: space-between;
}

.search-result-type {
  text-transform: uppercase;
}

.search-result-title {
  flex-grow: 1;
  font-size: 3em;
  line-height: 100%;
  text-transform: capitalize;
}

.tracks-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.scrollable {
  overflow-y: auto;
  padding-right: 0.5rem;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $hover-color-card;
    border-radius: 3px;
  }
}

.search-result-container-btns {
  display: flex;
  gap: $container-p-small;
  margin-bottom: $container-p-small;
}

.search-result-description {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: grey;
}

.artist-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.artist-name {
  cursor: pointer;
  margin-left: 4px;

  &:hover {
    text-decoration: underline;
  }
}

.album-release {
  &::before {
    content: "•";
    margin: 0px 4px;
  }
}
