<mat-nav-list>
  <a routerLink="/settings/language" routerLinkActive="active" ariaCurrentWhenActive="page" l10nTranslate>
    <mat-list-item>
      settings.language
    </mat-list-item>
  </a>
  <a routerLink="/settings/theme" routerLinkActive="active" ariaCurrentWhenActive="page" l10nTranslate>
    <mat-list-item>
      settings.theme
    </mat-list-item>
  </a>
  <a routerLink="/settings/account" routerLinkActive="active" ariaCurrentWhenActive="page" l10nTranslate>
    <mat-list-item>
      settings.account
    </mat-list-item>
  </a>
</mat-nav-list>
