<nav class="flex-column mb-small">
  <a mat-button color="basic" routerLink="/settings/language" routerLinkActive="active" ariaCurrentWhenActive="page" class="navigation-link" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon>language</mat-icon>
    <span l10nTranslate>settings.language</span>
  </a>
  <a mat-button color="basic" routerLink="/settings/theme" routerLinkActive="active" ariaCurrentWhenActive="page" class="navigation-link" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon>format_color_fill</mat-icon>
    <span l10nTranslate>settings.theme.title</span>
  </a>
  <a mat-button color="basic" routerLink="/settings/account" routerLinkActive="active" ariaCurrentWhenActive="page" class="navigation-link" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon>account_box</mat-icon>
    <span l10nTranslate>settings.account</span>
  </a>
</nav>
