<div class="flex-row height-100">
  <div *ngIf="!isHandset" class="flex-column-2 container content-wrapper height-100">
    <app-settings-aside></app-settings-aside>
  </div>
  <button *ngIf="isHandset" mat-icon-button aria-label="Settings menu" class="aside-menu-button" (click)="toggleSettingsMenuVisibility()">
    <mat-icon>{{ isSettingsMenuShown ? 'close' : 'menu' }}</mat-icon>
  </button>
  <mat-drawer-container *ngIf="isHandset && isSettingsMenuShown" class="aside-container_handset settings-container_handset container" @showSettingsMenu>
    <app-settings-aside [isSettingsMenuShown]="isSettingsMenuShown"></app-settings-aside>
  </mat-drawer-container>
  <div class="flex-column-10 container content-wrapper accent-wrapper height-100" [ngClass]="{'flex-column-12': isHandset, 'content-wrapper_handset': isHandset}">
    <router-outlet></router-outlet>
  </div>
</div>
