@import '../../../../sass/abstracts/constants';

.album-card {
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background: $hover-color-card;
  }

  
}

.image-wrapper {
  margin: $container-p-small;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $card-border-radius-small;
  }
}
