@import '../../../sass/abstracts/_constants.scss';

$eq-preset-select-height: 78px;
$eq-canvas-height: 150px;

.equalizer-container {
  position: absolute;
  top: $header-height;
  left: calc(100vw * 2 / 12);
  right: 0;
  height: calc(100vh - $header-height - $player-height - $footer-height);
  z-index: $z-index-dynamic-window;
  overflow-x: hidden;
}

.eq-controls-container {
  height: calc(100% - $eq-canvas-height);
  padding-top: $eq-preset-select-height;
}

.eq-presets-wrapper {
  position: absolute;
  top: $container-p-small;
  left: $container-p-large;
  right: $container-p-large;
  display: flex;
  justify-content: space-between;

  button {
    margin-left: $container-p-small;
  }
}

.eq-canvas {
  margin-left: - $container-p-large;
  position: absolute;
  bottom: 0;
}

.equalizer-controls {
  display: flex;
  flex-direction: column;
}

.equalizer-control {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;

  mat-slider {
    width: 100%;
  }
}
