<div
  [class]="
    !isShown ? 'equalizer-container' : 'equalizer-container show-equalizer'"
  class="container accent-section scrollable-container"
>
  <div class="eq-controls-container">
    <div class="eq-presets-wrapper">
      <mat-form-field appearance="fill">
        <mat-label l10nTranslate>music.equalizer.preset-select-label</mat-label>
        <mat-select #presetSelect [(ngModel)]="selectedPresetIndex">
          <mat-option
          *ngFor="let preset of equalizerPresets, index as i"
          [value]="i">
            {{ preset.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-mini-fab color="basic" (click)="resetEqualizerPreset()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <div class="scrollable-container height-100">
      <div class="equalizer-controls">
        <div
          class="equalizer-control"
          *ngFor="let range of frequencies; index as i">
          <div class="">
            <span>{{
              range.frequency < 1000
                ? range.frequency + ' '
                : range.frequency / 1000 + ' '
            }}</span>
            <span *ngIf="range.frequency < 1000" l10nTranslate>music.equalizer.units.hz</span>
            <span *ngIf="range.frequency >= 1000" l10nTranslate>music.equalizer.units.kHz</span>
          </div>
          <mat-slider [min]="range.minVal" [max]="range.maxVal" step="0.1">
            <input
              matSliderThumb
              [value]="range.initialVal"
              (input)="changeGain(i, $event)"
              (click)="changeGain(i, $event)"
              [(value)]="range.initialVal"
            />
          </mat-slider>
          <div class="">
            <span>{{ range.initialVal + ' ' }}</span>
            <span l10nTranslate>music.equalizer.units.db</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <canvas #eqCanvas class="eq-canvas"></canvas>
</div>
