<div *ngIf="!title && !loading" class="message-not-found" l10nTranslate>search.results.message</div>

<div *ngIf="title">
  <div *ngIf="!loading" class="titles-container">
    <h1 class="genre-main-title text-wrap">{{title}}</h1>
    <h2 class="title-h2" l10nTranslate>search.chips.artists</h2>
  </div>
  <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
  <app-artists [artists]="artists" class="result-container" [ngClass]="{'result-container_small': isSmall, 'result-container_handset': isHandset}"></app-artists>
</div>
